.backgroud{
    
    width: 100%;
    height: 100%;
   margin:auto;
   background-image: url("resourse/bank/background.jpg");
   background-repeat: no-repeat;
   background-position: center,400px;
   background-size: 100% 100%;
   overflow: hidden;

}
.back{
    width: 350px;
    height: 40px;
    text-decoration: none;
    position: relative;
    top: 20px;
    right: 80px;
    color: black;
    font-size: 35px;
    font-family:Arial;
    float: right;
    background-color:rgb(219, 220, 220)
}

.backairport{
    width: 350px;
    height: 40px;
    text-decoration: none;
    position: relative;
    top: 20px;
    right: 110px;
    color: black;
    font-size: 35px;
    font-family:Arial;
    float: right;
    background-color:rgb(219, 220, 220)
}

.total{
    margin-top: 20%;
   
    width: 100%;
    height: 350px;
}
.part1{
    
    width: 33%;
    float: left;
    height: 100%;
    border:0.3px solid rgba(200, 200, 200, 0);
    display: flex;
    flex-direction: column;
    
}
.part3{
    
    width: 33%;
    float: left;
    height: 100%;
    border:0.3px solid rgba(200, 200, 200, 0);
    display: flex;
    flex-direction: column;
    
}
.part2{
  
    width: 33%;
    height: 100%;

    float: left;
    border:0.3px solid rgba(200, 200, 200, 0);
    display: flex;
    flex-direction: column;
}
.title1{
    margin-left: 80px;
    margin-right: auto;
    color: black;
    font-size: 35px;
    font-family:Arial;
    background-color:rgb(219, 220, 220);
    
}

.title2{
    margin-left: 110px;
    margin-right: auto;
    color: black;
    font-size: 35px;
    font-family:Arial;
    background-color:rgb(219, 220, 220);
}
.title3{
    margin-left: 80px;
    margin-right: auto;
    color: black;
    font-size: 30px;
    font-family:Arial;
    background-color:rgb(219, 220, 220);
}
.backs{
    
    position:absolute;
    top: 10px;
    right: 50px;
        
}
.pic{
    width: 60px;

}
.need{

    position: relative;
    top: 60px;
    left: 20px;
    color: black;
    font-size: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    border-width: 4px;
    float: left;
    background-color:aliceblue;
}
.taxi{
    float: left;
    width: 300px;
    height: 200px;
    border-color: black;
    box-sizing: 1px;
    margin-top: 8%;
    margin-left: 40px;

}
.sim{
   float: left;
    width: 300px;
    height: 200px;
    border-color: black;
    box-sizing: 1px;
    margin-top: 11%;
    margin-left: 60px;
}
.address{
    float: left;
    width: 300px;
    height: 200px;
    border-color: black;
    box-sizing: 1px;
    margin-top: 8%;
    margin-left: 40px;
}
.normal{

    position: absolute;
    top: 250px;
    left: 20px;
    width: 800px;
    color: black;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    border-width: 4px;
    float: left;
    background-color:aliceblue;
   

}
.normal2{

    position: absolute;
    top: 20%;
    left: 4%;
    width: 70%;
    color: black;
    font-size: 23px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    border-width: 4px;
    float: left;
    background-color:aliceblue;
   

}
.normal3{

    position: absolute;
    top: 31%;
    left: 6%;
    width: 40%;
    color: black;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    border-width: 4px;
    float: left;
    background-color:aliceblue;
   

}
.airporttaxi{
    position: absolute;
    top: 40%;
    left: 75%;
    width: 300px;
    height: 200px;
    border-color: black;
    box-sizing: 1px;

}
.airporttaxi1{
    position: absolute;
    top: 40%;
    left: 60%;
    width: 300px;
    height: 200px;
    border-color: black;
    box-sizing: 1px;

}