

.map {

    width: 950px;
    height: 100%;
    position: relative;
    background-color: red;
    background-image: url("resourse/map/background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0% auto;
    border-radius: 10%;
    overflow: hidden;
    

}
.pic{
    width: 80px;
    height: 80px;
    position:absolute;
    background-image: url("resourse/map/person.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top:32%;
    left: 77%;
}
.airport {
    width: 20%;
    height: 24%;
    position:absolute;
    top:8%;
    left: 72%;
    background-image: url("resourse/map/airport.png");
    background-repeat: no-repeat;
    background-position: center, 400px;
    background-size: 100% 100%;
    border-radius: 10%;
}
.bank {
    width: 26%;
    height: 26%;
    position:absolute;
    top:75%;
    left: 70%;

    background-image: url("resourse/map/bankpng.png");
    background-repeat: no-repeat;
    background-position: center, 400px;
    background-size: 100% 100%;
    border-radius: 60%;

}

.bus {
    width: 26%;
    height: 22%;
    position:absolute;
    top:10%;
    left: 38%;
    background-image: url("resourse/map/bus.png");
    background-repeat: no-repeat;
    background-position: center, 400px;
    background-size: 100% 100%;
    border-radius: 10%;
}

.house {
    width: 24%;
    height: 24%;
    position:absolute;
    top:6%;
    left: 4%;
   
    background-image: url("resourse/map/office.png");
    background-repeat: no-repeat;
    background-position: center, 400px;
    background-size: 100% 100%;
}


.shop {
    width: 27%;
    height: 27%;
    position:absolute;
    top:74%;
    left: 3%;
    background-image: url("resourse/map/shopping\ mall.jpg.png");
    background-repeat: no-repeat;
    background-position: center, 400px;
    background-size: 100% 100%;

}

.office {
    width: 36%;
    height: 36%;
    position:absolute;
    top:42%;
    left: 33%;
    background-image: url("resourse/map/house.png");
    background-repeat: no-repeat;
    background-position: center, 400px;
    background-size: 100% 100%;
    border-radius: 10%;
    z-index: 1;
}















.moveleft {

    transform: translateY(100px);
}