.map{
    
    width: 950px;
    height: 100%;
   
   margin:auto;
   background-image: url("resourse/map/background.png");
   background-repeat: no-repeat;
   background-position: center,400px;
   background-size: 100% 100%;
   border-radius: 10%;

}

.office{
    width: 300px;
    height: 300px;
    position: relative;
    top: 310PX;
    left: 320px;
    background-image: url("resourse/map/house.png");
   background-repeat: no-repeat;
   background-position: center,400px;
   background-size: 100% 100%;
   border-radius: 10%;
}
.airport{
    width: 190px;
    height: 190px;
    position: relative;
    top: -250pX;
    left: 690px;
    background-image: url("resourse/map/airport.png");
   background-repeat: no-repeat;
   background-position: center,400px;
   background-size: 100% 100%;
   border-radius: 10%;
}
.bank{
    width: 230px;
    height: 190px;
    position: relative;
    top: -10pX;
    left: 690px;
    background-image: url("resourse/map/bankpng.png");
   background-repeat: no-repeat;
   background-position: center,400px;
   background-size: 100% 100%;
   border-radius: 60%;

}
.bus{
    width: 250px;
    height: 180px;
    position:relative;
    top: -650pX;
    left: 380px;
    background-image: url("resourse/map/bus.png");
   background-repeat: no-repeat;
   background-position: center,400px;
   background-size: 100% 100%;
   border-radius: 10%;
}
.house{
    width: 230px;
    height: 190px;
    position: relative;
    top: -850pX;
    left: 20px;
    background-image: url("resourse/map/office.png");
   background-repeat: no-repeat;
   background-position: center,400px;
   background-size: 100% 100%;
   
}
.shop{
    width: 250px;
    height: 220px;
    position: relative;
    top: -580pX;
    left: 50px;
    background-image: url("resourse/map/shopping\ mall.jpg.png");
   background-repeat: no-repeat;
   background-position: center,400px;
   background-size: 100% 100%;
   
}




.moveleft {
  
  transform: translateY(100px);
}