.map {

    width: 950px;
    height: 100%;

    margin: auto;
    background-image: url("resourse/map/background.png");
    background-repeat: no-repeat;
    background-position: center, 400px;
    background-size: 100% 100%;
    border-radius: 10%;
    overflow: hidden;

}

.office {
    width: 300px;
    height: 300px;
    
    
    position:absolute;
    margin-top: 300px;
    margin-left: 340px;
    
    background-image: url("resourse/map/house.png");
    background-repeat: no-repeat;
    background-position: center, 400px;
    background-size: 100% 100%;
    border-radius: 10%;
    z-index: 1;
}

.airport {
    width: 190px;
    height: 190px;
    position:absolute;
   margin-top: 40px;
   margin-left: 680px;

   
    background-image: url("resourse/map/airport.png");
    background-repeat: no-repeat;
    background-position: center, 400px;
    background-size: 100% 100%;
    border-radius: 10%;
}

.bank {
    width: 230px;
    height: 190px;
    position:absolute;
    margin-top: 500px;
    margin-left: 680px;

    background-image: url("resourse/map/bankpng.png");
    background-repeat: no-repeat;
    background-position: center, 400px;
    background-size: 100% 100%;
    border-radius: 60%;

}

.bus {
    width: 250px;
    height: 180px;
    position:absolute;
    margin-top: 50px;
    margin-left: 400px;
    background-image: url("resourse/map/bus.png");
    background-repeat: no-repeat;
    background-position: center, 400px;
    background-size: 100% 100%;
    border-radius: 10%;
}

.house {
    width: 230px;
    
    height: 190px;
    position:absolute;
    margin-top: 50px;
    margin-left: 40px;
    
    background-image: url("resourse/map/office.png");
    background-repeat: no-repeat;
    background-position: center, 400px;
    background-size: 100% 100%;

}

.shop {
    width: 250px;
    height: 220px;
    float: left;
    margin-left: 10px;
    margin-top:500px;
   
    background-image: url("resourse/map/shopping\ mall.jpg.png");
    background-repeat: no-repeat;
    background-position: center, 400px;
    background-size: 100% 100%;

}




.moveleft {

    transform: translateY(100px);
}